body{
  display:flex;
  align-items: center;
  justify-content: center;
}
#slots-container{
  display: grid;
  width:40vw;
  height: 75vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.terrain{
}
#setstart{
  position: fixed;
  left: 50%;
  bottom:0;
}